#sobre {
	font-family: Arial;
	background-color: orange;
	// background-image: url("/users/mauri213/desktop/projects/final-project/facebook-icon.jpg");
	width: 100%;
}

h1, h3 {
	text-align: center;
}

#firstnote, #secondnote {
	font-size: 8px;
}